# HTTP_ADDR=127.0.0.1:6666

# CORS_ALLOWED_ORIGINS="*"
# CORS_ALLOWED_METHODS="GET,HEAD,POST,PUT,PATCH,DELETE"
# CORS_ALLOWED_HEADERS="User-Agent,Content-Type,Accept,Accept-Encoding,Accept-Language,Cache-Control,Connection,DNT,Host,Origin,Pragma,Referer"
