# ;-----;
# ; APP ;
# ;-----;
APP_NAME="Gon"
APP_ENV="dev"

# ;--------;
# ; SERVER ;
# ;--------;
PORT=3000
HOST="127.0.0.1"
CORS_ALLOWED_ORIGINS="*"
CORS_ALLOWED_METHODS="GET,HEAD,POST,PUT,PATCH,DELETE"
CORS_ALLOWED_HEADERS="User-Agent,Content-Type,Accept,Accept-Encoding,Accept-Language,Cache-Control,Connection,DNT,Host,Origin,Pragma,Referer"

# ;----------;
# ; POSTGRES ;
# ;----------;
POSTGRES_HOST="127.0.0.1"
POSTGRES_PORT=5432
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DBNAME="gon"
POSTGRES_SSL_MODE="disable"

# ;------;
# ; LOGS ;
# ;------;
LOGGER_TO_STDOUT_ENABLED=true
LOGGER_TO_FILE_ENABLED=true
LOGGER_MIN_LEVEL="info"
LOGGER_FILE_PATH="logs/app.log"
LOGGER_FILE_MAX_SIZE_IN_MB=10
LOGGER_FILE_MAX_AGE=7
LOGGER_FILE_MAX_BACKUPS=3
LOGGER_FILE_LOCAL_TIME_ENABLED=false
LOGGER_FILE_COMPRESSION_ENABLED=false
LOGGER_PRETTY_PRINT_ENVIRONMENTS="dev,test"
